{% extends '::base.html.twig' %}

{% block body -%}

    <p>Custom CMS Home Page</p>

    {% for page in pages %}
        <div>
            <h1> {{ page.title }}</h1>
            <p> {{ page.content|slice(0,25) }}... <a href="{{ path('imbax_cms_page_display', {id: page.id }) }}">read more</a> </p>
        </div>
    {% endfor %}

{% endblock %}